<section class="index-section">
    <h3>溶氧量</h3>
    <div id="dolChart" class="chart-mount"></div>
    <mat-spinner class="spinner" *ngIf="!isChartsInitialized"></mat-spinner>
</section>
<section class="index-section">
    <h3>pH值</h3>
    <div id="pHChart" class="chart-mount"></div>
    <mat-spinner class="spinner" *ngIf="!isChartsInitialized"></mat-spinner>
</section>
<section class="index-section">
    <h3>水温</h3>
    <div id="waterTemperChart" class="chart-mount"></div>
    <mat-spinner class="spinner" *ngIf="!isChartsInitialized"></mat-spinner>
</section>