<mat-toolbar color="primary" id="appToolbar">
	<button mat-button [mat-menu-trigger-for]="menu">
		<mat-icon>menu</mat-icon>
	</button>

	<mat-menu #menu class="aerator-menu">
		<div class="menu-hint">选择账户关联的增氧机</div>
		<div class="aerator-menu-group" *ngFor="let group of aeratorGroups" mat-menu-item>
			<div class="aerator-menu-group-label">{{group.text}}</div>
			<button class="aerator-menu-item" (click)="handleChangeAerator(aerator)"
				*ngFor="let aerator of group.children">
				<div class="aerator-menu-item-label">{{aerator.text}}</div>
				<div class="aerator-menu-item-space"></div>
				<mat-icon *ngIf="aerator.id===currentAerator?.id">
					signal_cellular_alt
				</mat-icon>
				<span class="aerator-menu-item-status" [attr.data-state]="aerator.state"></span>
			</button>
		</div>
	</mat-menu>

	<span>增氧机管理系统</span>

	<div class="toolbar-space"></div>
	<div id="currentAerator" *ngIf="userService.isLoggedIn()">
		<span>当前增氧机</span>
		<span>{{currentAerator?.id}}</span>
	</div>
</mat-toolbar>
<router-outlet></router-outlet>