<mat-toolbar color="primary" id="appToolbar">
	<button mat-button [mat-menu-trigger-for]="menu">
		<mat-icon>menu</mat-icon>
	</button>

	<mat-menu #menu class="aerator-menu">
		<div class="menu-hint">选择账户关联的增氧机</div>
		<button (click)="handleChangeAerator(aerator)" class="aerator-menu-item" *ngFor="let aerator of relatedAerators"
			mat-menu-item>
			<span>增氧机 {{aerator.id}}</span>
			<mat-icon *ngIf="aerator.id===currentAerator?.id">
				signal_cellular_alt
			</mat-icon>
		</button>
	</mat-menu>

	<span>增氧机管理系统</span>

	<div class="toolbar-space"></div>
	<div id="currentAerator" *ngIf="userService.isLoggedIn()">
		<span>当前增氧机</span>
		<span>{{currentAerator?.id}}</span>
	</div>
</mat-toolbar>
<router-outlet></router-outlet>